@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lora);

/* app css stylesheet */
.centered{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.left{
  display: block;
  text-align: left;
}

/* -------------------------------Sidebar-------------------------------------
-------------------------------------------------------------------------------*/
.sidebar{
  background: #FFF;
  min-height: 110vh;
  margin-top: -60px;
}
.sidebar header{
  padding-top: 20px;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
}
.sidebar li{
  display: inline-block;
  display: inline-block;
  margin: 20px;
}
.sidebar li img{
  width: 30px;
  height: 30px;
}

.symbols{
  height: 480px;
  overflow: auto;
  padding: 20px;
}
/* -------------------------------Main-------------------------------------
-------------------------------------------------------------------------------*/
.main{
  height: 500px;
}

#c{
    background: url(img/background_designer.png) repeat;
}

#save{
  background: #1BBC9B;
  height: 80px;
}
#save div{
  float: right;
  background: url(img/right.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 40px;
  padding-top: 10px;
  margin-right: 80px;
}
#save p{
  color: #EFEFEF;
  font-size: 16px;
  text-align: right;
}
#save a{
  color: white;
  font-size: 18px;
  text-align: right;
}


#card-background{
  width: 250px;
  height: 150px;
  background-image: url(img/card_background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#shirt-background{
  width: 190px;
  height: 245px;
  background-image: url(img/shirt_background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#preview img{
  width: 170px;
}

#shirt-background img{
  margin-top: 30px;
  padding: 0;
}

.controls{
  background: #233447;
  padding: 20px 50px;
  color: white;
  position: absolute;
  z-index: 10;
  width: 100%;
}