<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Design" icon-off="ion-ios-color-wand-outline" icon-on="ion-ios-color-wand" href="#/tab/design">
    <ion-nav-view name="tab-design"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Preview" icon-off="ion-eye" icon-on="ion-eye" href="#/tab/preview">
    <ion-nav-view name="tab-preview"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Export" icon-off="ion-ios-cloud-download-outline" icon-on="ion-ios-cloud-download" href="#/tab/export">
    <ion-nav-view name="tab-export"></ion-nav-view>
  </ion-tab>


</ion-tabs>
