<nav class="navbar navbar-default" ng-controller="DesignerCtrl">
  <div class="col-sm-9 col-sm-offset-3">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header hidden-xs">

      <a class="navbar-brand" href="#/designer">Logo Designer</a>
    </div>-->

     <div class="navbar-header-mobile visible-xs">
    	<div class="visible-xs">
    		<img src="assets/img/logo2.png" />
    		<h4>Logo Designer</h4>
    	</div>

      <a class="navbar-brand hidden-xs" href="#/designer">Logo Designer</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>