<ul class="list-inline">
	<li>
		<div class="form-group">
			<input class="form-control" type="text" id='textcolorpicker' ng-model="text.color" ng-change="changeTextColor()" />
		</div>
	</li>

	<li>
		<div class="form-group row">
	   <select class="form-control left" id="textfontselect" ng-model="text.font" ng-options="font.family for font in fonts" ng-change="changeTextFontFamily()"></select>
	 </div>
	</li>

	<li>
		<div class="form-group">
	   <select class="form-control" id="textfontvariantselect" ng-model="text.font.variant" ng-options="variant as variant for variant in text.font.variants" ng-change="changeTextFontVariant()"></select>
	 </div>
	</li>
</ul>

<script type="text/javascript">

	$("#textcolorpicker").spectrum({
  	color: "#000",
  	preferredFormat: "hex",
    showInput: true,
    disabled: true
	});

	$("#bordercolorpicker").spectrum({
  	color: "#000",
  	preferredFormat: "rgb"
	});

		// With JQuery
	$('#ex1').slider({
		formatter: function(value) {
			return 'Current value: ' + value;
		}
	});

</script>