<div class="col-sm-4">
	<div class="form-group">
	  <label class="left gray" for="textcolorpicker">Text color</label>
		<input type="text" id='textcolorpicker' ng-model="text.color" ng-change="changeTextColor()" />
	</div>
</div>

<div class="col-sm-4">
	<div class="form-group">
	  <label class="left gray" for="textfontselect">Font family</label>

		<select class="form-control" id="textfontselect" ng-model="text.fontfamily" ng-change="changeTextFontFamily()" ng-options="font.value as font.name for font in text.fontfamilies">
	  </select>

	 </div>
 </div>

<script type="text/javascript">
	$("#textcolorpicker").spectrum({
  	color: "#000",
  	preferredFormat: "rgb"
	});

	$("#bordercolorpicker").spectrum({
  	color: "#000",
  	preferredFormat: "rgb"
	});
	$('#controls').hide();

		// With JQuery
	$('#ex1').slider({
		formatter: function(value) {
			return 'Current value: ' + value;
		}
	});

</script>