<div class="col-xs-10 col-xs-offset-1">
	<div class="responsive-slick">
	  <div class="item">
			<div class="back">
				<img ng-src="assets/img/card_background.png"/>
			</div>
			<div class="front">
				<img ng-src="{{preview}}" class="centered">
			</div>
	  </div>
	  
	  <div class="item">
		  <div class="back">
				<img ng-src="assets/img/shirt_background.png"/>
			</div>
			<div class="front">
				<img ng-src="{{preview}}" class="centered">
			</div>
		</div>
	  
	  <div class="item">
	  	<div class="back">
				<img ng-src="assets/img/iphone_background.png"/>
			</div>
			<div class="front">
				<img ng-src="{{preview}}" class="centered">
			</div>
		</div>

		<div class="item">
	  	<div class="back">
				<img ng-src="assets/img/computer_background.png"/>
			</div>
			<div class="front">
				<img ng-src="{{preview}}" class="centered">
			</div>
		</div>

		<div class="item">
	  	<div class="back">
				<img ng-src="assets/img/mug_background.png"/>
			</div>
			<div class="front">
				<img ng-src="{{preview}}" style="margin-left: 33px;">
			</div>
		</div>

		
</div>


<script type="text/javascript">
	
	$('.responsive-slick').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 2
});
</script>