<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-lg-3 sidebar">

			<header class="row centered">
				<img src="assets/img/logo.png" alt="exentriq logo designer" />
			</header>

			<div class="form-group">
  			<label class="centered" for="companyName">Logo name</label>
				<input class="form-group" id="companyName" type="text" placeholder="Name" ng-model="name" ng-change="setLogoName(name)" class="centered">
			</div>

			<div class="form-group">
				<input id="searchSymbol" class="form-group" type="text" placeholder="Search Icons" ng-model="query" class="centered">
			</div>

			<div class="row">
				<ul class="symbols">
	        <li ng-repeat="symbol in symbols | filter:query">
	        	<div ng-click="setLogoSymbol(symbol.svgPath)">
		       		<img class="svg" ng-src="{{symbol.svgPath}}" >
		       	</div>
	        </li>
	      </ul>
	    </div>

		</div>

		<div class="col-sm-12 col-lg-9 main">
			<div id="controls-container" class="row">
				<div id="controls-symbol" class="controls col-lg-9">
					<ng-include src="'app/components/designer/_controls-symbol.html'" scope="canvas"></ng-include>
				</div>
				<div id="controls-text" class="controls col-lg-9">
					<ng-include src="'app/components/designer/_controls-text.html'" scope="canvas"></ng-include>
				</div>
				<div class="col-lg-3">
					<a class="save-button" href="javascript:void(0)" ng-click="saveLogo()">Save and Print</a>
				</div>
			</div>

			<div class="row">
				<canvas id="c"></canvas>
			</div>

			<div id="preview" class="row">
				<ng-include src="'app/components/designer/_preview.html'" scope="preview"></ng-include>
			</div>
		
	</div>
</div>