<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-lg-3 sidebar">

			<header class="row centered">
				<img src="assets/img/logo.png" alt="exentriq logo designer" />
			</header>

			<div class="form-group">
  			<label class="centered" for="companyName">Company name</label>
				<input class="form-group" id="companyName" type="text" placeholder="Name" ng-model="name" ng-change="setLogoName()" class="centered">
			</div>

			<div class="form-group">
				<input id="searchSymbol" class="form-group" type="text" placeholder="Search symbols" ng-model="query" class="centered">
			</div>

			<div class="row">
				<ul class="symbols">
	        <li ng-repeat="symbol in symbols | filter:query">
		       <img ng-src="{{symbol.svgPath}}" ng-click="setLogoSymbol(symbol.svgPath)">
	        </li>
	      </ul>
	    </div>

		</div>

		<div class="col-sm-12 col-lg-9 main">
			<div class="row">
				<div id="controls-symbol" class="controls">
					<ng-include src="'app/components/designer/_controls-symbol.html'" scope="canvas"></ng-include>
				</div>
				<div id="controls-text" class="controls">
					<ng-include src="'app/components/designer/_controls-text.html'" scope="canvas"></ng-include>
				</div>
			</div>

			<div class="row">
				<canvas id="c"></canvas>
			</div>

			<div id="preview" class="row">
				<ng-include src="'app/components/designer/_preview.html'" scope="preview"></ng-include>
			</div>

			<div id="save" class="row">
				<div>
					<p>Next</p>
				 	<a href="javascript:void(0)" ng-click="saveLogo()">Save and Print</a>
				 </div>
			</div>
		
	</div>
</div>